.select_raw_inputs{
    background-color: var(--background-color);
}
label{
    font-family: var(--form-text-font-family);
    font-size: var(--form-text-font-size);    
    width: 200px;
    text-align: right;
    position: relative;
}
.raw_input_{
    margin: 15px auto 15px auto;
}
input{
    border: 1px solid black;
}
input, select{
    width: 250px;
    
}
.raw_production_label{
    text-align: left;
}
.availability{
    margin:auto 10px auto -15px;
}
.colan{
    font-weight: 700;
}
.colan_{
    font-weight: 700;
    margin-right: 10px;
}
.select_raw_inputs_h1{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--header-text-font);
}
.select_raw_inputs_div{
    background-color: var(--form-backgroung-color);
    margin: 10px 40px 10px 40px;
    border-radius: 10px;
    padding: 20px 60px 20px 60px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    
}


.select_raw_inputs_div_2_1{
    width: 500px;
    height: 50px;
    
    display: flex;
    
}
.quantity_used{
    width: 390px;
}


.raw_input_{
    width: 500px;
    height: 50px;
    
    display: flex;
    justify-content: space-between;
    
}
.select_qty_div{
    display: flex;
    justify-content: center;
    justify-items: center;
    
    width: 400px;
    
    
    margin: 30px 10px 10px 10px;
}
.select_qty_label{
    width: 300px;
}
.QTY_select{
    
}
.select_qty{
    display: flex;
    
}
.QTY_select_p{
    font-weight: 500;
    width: 200px;
}
