.Dashboad{
    
    width: 100%;
    height: auto;
    background-color: var(--background-color);
   
}

.dashboad-title{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--header-text-font);
}
.dashboad-summery{
    border-bottom: 20px solid var(--accent-color);
    background-color: var(--secondary-color);
    width: 80%;
    height: 100px;
    margin: 0 auto;
    border-radius: 25px 25px 0 0 ;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.dashboad-summery-item-1{
    height: 100px;
    width: 25%;
    background-color:transparent;
    margin: 1 auto;
    display: flex;
    justify-content: space-evenly;
}
.team-img{
    width: 70px;
    height: 70px;
    margin-top: 10px;
}

.dashboad-summery-item-2{
    height: 100px;
    width: 25%;
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.catergory-img{
    width: 70px;
    height: 70px;
    margin-top: 10px;
}
.dashboad-summery-item-3{
    height: 100px;
    width: 25%;
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.product-img{
    width: 70px;
    height: 70px;
    margin-top: 10px;
}
.dashboad-summery-item-4{
    height: 100px;
    width: 25%;
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.order-img{
    width: 70px;
    height: 70px;
    margin-top: 10px;
}
.dashboad_p{
    font-weight: 500;
    font-size: 20px;
    color: aliceblue;
}
.dashboad_p_{
    font-size: 30px;
    font-weight: 600;
    color: aliceblue;
    margin: -15px 10px 10px 55px;
}



.dashboad-raw_stock_view{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px 0px 0px;
}