/* .edite_div_main{
    background-color: var(--edite_table-background);
} */
.edite_h1{
    text-align: center;
}
.edite_div{
    background-color: var(--edite_table-background);
    margin: 10px 20px 10px 20px;
    border-radius: 10px;
}
.edite_div_1{
    display: flex;
    justify-content: center;
    margin: 10px auto 20px auto;
}
.edite_input{
    width: 300px;
    height: 35px;
    border-radius: 10px;
}
.edite_div_2{
    
    margin: 10px 20px 10px 20px;
    border-radius: 10px;
    overflow: scroll;
}
.edite_div_3{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--edite-data);
}