.inventory{
    background-color:var(--table-background);
}
.inventory-view-title{
     text-align: center;
     
}
/* .inventory-view-container{
   
    background-color: aqua;
    margin: 10px 100px 10px 100px;
    padding: 20px;
    border-radius: 10px;
} */
.inventory-view{
   overflow: scroll;
    
}