.inventory{
    background-color:var(--table-background);
}
.inventory-view-title{
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--header-text-font);
     
}
/* .inventory-view-container{
   
    background-color: aqua;
    margin: 10px 100px 10px 100px;
    padding: 20px;
    border-radius: 10px;
} */
.inventory-view{
   /* overflow: scroll; */
    
}