

.raw_name_add{
    display: flex;
    width: max-content;
    padding: 20px 40px 20px 40px;
    justify-content: center;
    background-color: rgba(144, 144, 144, 0.222);
    margin: 0px auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.raw_name_label{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.raw_name_input{
    border: 1px solid black;
    text-align: center;
}

.raw_name_button{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: #7aa89c;
    line-height: 1.15;
    font-size: 16px;
    

}
.raw_name_button:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }



.raw_name_h1{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--header-text-font);
}
.raw_name_view{
    display: flex;
        width: max-content;
        justify-content: center;
        background-color: rgba(144, 144, 144, 0.222);
        margin: 0px auto;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}