.view_container{
    background-color: var(--background-color);
}
.view_title{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--header-text-font);
    
}


.view_container{
    background-color: var(--table-background);
}

.view_table{
    padding: 10px;
    overflow: scroll;
}