.Sidebar{
    position:fixed;
    overflow: hidden;
    z-index: 1;
    
    
}

.nav-bar{
    position: fixed;
    overflow: hidden;
    margin-top: -20px;
    width: 50px;
    height: 100vh;
    color: rgba(37, 37, 37, 0.505);
    background-color: rgb(49, 49, 49);
    overflow: hidden;
}
.nav-bar-toggle{
    
    width: 150px;
    height: 100vh;
    color: rgb(0, 0, 0);
    background-color: rgb(49, 49, 49);
}
.nav-bar:hover{
    width: 150px;
    height: 100vh;
    color: aquamarine;
    background-color: rgb(33, 33, 33);
    position: fixed;
    
}


.head{
    width: 70%;
    height: 5vh;
    background-color: aqua;
    top: 10px;
    
    margin: 10px auto 10px auto;
}

.nav-menu{
    
    height: 70vh;
    /* background-color: rgb(237, 16, 16); */
    margin: 0 0px 0 0;
}

.Nav-icon-on{
    margin-left: 85%;
    
}


ul{
    list-style: none;
    margin:20px 0px 0 -27px;
    
}
.link_li{
    padding: 7px;
    margin: 3px;
    background-color: rgb(140, 140, 140);
    border-radius: 3px;
}
.link_li:hover{
    background-color: rgb(119, 119, 119);
}
.link_li_clicked{
    padding: 7px;
    margin: 3px;
    background-color: rgb(189, 189, 189);
    border-radius: 3px;
}
.link-icon{
   margin: auto 5px auto 5px;
    
}
.link-name{
   
}
.Nav-link{
    display: flex;
}
.nav-link-names{
    text-decoration: none;
    font-weight: 500;
    
    
}
.nav-link-names-toggle{
    display: none;
    margin-left: 10px;
    font-size: 15px;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .nav-bar{
        width: 50px;
    }
    .head{
        width: 50px;
    }
    .Nav-icon-on{
        margin-left: 75%;
    }
    /* .Nav-icon-on{display: none;} */
    
            
    
    .nav-link-names{
        display: none;
    }
    .nav-link-names-toggle{
        display: none;
    }
               
  }