.Sidebar{
    margin-top: 10%;
    position:fixed;
    overflow: hidden;
    z-index: 1;

}

.nav-bar{
    position: fixed;
    overflow: hidden;
    margin-top: -190px;
    width: 50px;
    height: 110vh;
    /* border-radius: 0px 15px 15px 0;     */
    background-color:rgba(0, 28, 48);
    overflow: hidden;
    transition: width 0.3s ease;
    color: aquamarine;
}
.nav-bar-toggle{
    width: 150px;
    height: 80vh;
    color: rgb(0, 0, 0);
    background-color: rgb(49, 49, 49);
}
.nav-bar:hover{
    width: 150px;    
    color: aquamarine;
    background-color:var(--primary-color);
    position: fixed;

}
.nav-menu{
    margin-top: 80px;
    padding: 0px 5px 15px 5px;   
    
    overflow: hidden;
}


.head{
    width: 70%;
    height: 5vh;
    background-color: rgba(0, 255, 255, 0.229);
    backdrop-filter: blur(50px);
    top: 10px;    
    margin: 10px auto -10px auto;
}



.Nav-icon-on{
    margin-left: 85%;
    
}


ul{
    list-style: none;
    margin:20px 0px 0 -40px;
    
}
.link_li{
    padding: 7px;
    margin: 10px 0 0 0;
   
    /* border: 2px solid var(--secondary-color); */
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.099);

    backdrop-filter: blur(50px);
}
.link_li:hover{
    background-color: rgb(119, 119, 119);
}
.link_li_clicked{
    padding: 7px;
    margin: 3px;
    /* background-color: var(--accent-color); */
    border-radius: 3px;
    /* color: rgb(1, 11, 20); */
    /* background-color:var( --background-color); */
    
}
.link-icon{
   margin: auto 5px auto 7px;
    
}
.link-name{
   margin-left: 9px;
   border-radius: 3px;color: aliceblue;
}
.Nav-link{
    display: flex;
}
.nav-link-names{
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 0px;
   
    
    
}
.nav-link-names-toggle{
    
    
    display: block;
    margin-left: 10px;
    font-size: 15px;
    text-align: left;
   
}

@media only screen and (max-width: 600px) {
    .nav-bar{
        width: 50px;
    }
    .head{
        width: 50px;
    }
    .Nav-icon-on{
        margin-left: 75%;
    }
    /* .Nav-icon-on{display: none;} */
    
            
    
    .nav-link-names{
        display: none;
    }
    .nav-link-names-toggle{
        display: none;
    }
               
  }