.unit_view{
   
    width: 150px;
    height: 150px;
    background-color: rgba(144, 144, 144, 0.519);
    margin: 20px 10px 20px 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.unit_view_div{
    position: relative;
    top: 1%;
    height: 90%;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
   
    /* display: flex;
    flex-direction: column; */
    
}
.unit_view_p{
    text-align: center;
    position: relative;
    top: 5%;
    
}
.unit{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-top: -10px;
}