.raw_view{
    background-color: rgb(123, 218, 123);
}

.text-center{
    text-align: center;
}
.container{
    background-color: aqua;
    margin: 10px 20px 10px 20px;
    border-radius: 10px;
}
/* .table-responsive{
    background-color: aquamarine;
    margin: 10px auto;
    padding: 20px;
} */