.raw_view{
    background-color: var(--background-color);
}

/* .table_responsive{
    position: relative;
    width: 20px;
} */
.text-center{
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* .container{
    background-color: aqua;
    margin: 10px 20px 10px 20px;
    border-radius: 10px;
} */
.table_responsive{
    width: 1200px;
    background-color: var(--accent-color);
    margin: 10px auto;
    padding: 20px;
    overflow: scroll;
    overflow-x: auto; 
  overflow-y: visible; 
  border-collapse: collapse;
}